<?xml version="1.0" ?>

<robot name="pal_pro_gripper"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ARGUMENTS  -->

    <!-- False, True -->
    <xacro:arg name="tool_changer" default="False"/>

    <!-- False, True -->
    <xacro:arg name="calibration_tool" default="False"/>

    <!-- false, true -->
    <xacro:arg name="use_sim_time" default="False"/>

    <!-- mujoco-ros2-control, mujoco, gazebo-->
    <xacro:arg name="sim_type" default="gazebo" />
    <!-- false, position, motor -->
    <xacro:arg name="mj_control" default="false" />
    <!-- floor -->
    <xacro:arg name="world_name" default="floor" />

    <!-- PROPERTIES -->
    <xacro:property name="tool_changer" value="$(arg tool_changer)" />
    <xacro:property name="calibration_tool" value="$(arg calibration_tool)" />
    <xacro:property name="use_sim_time" value="$(arg use_sim_time)" />
    <xacro:property name="name" value="gripper"/>

    <!-- Mujoco properties -->
    <xacro:property name="sim_type" value="$(arg sim_type)" />
    <xacro:property name="mj_control" value="$(arg mj_control)"/>
    <xacro:property name="world_name" value="$(arg world_name)"/>

    <!-- Properties check -->
    <xacro:if value="${sim_type not in ['mujoco-ros2-control', 'mujoco', 'gazebo']}">
        <xacro:wrong_sim_type />
    </xacro:if>
    <xacro:unless value="$(arg use_sim_time)">
        <xacro:property name="sim_type" value="gazebo" />
    </xacro:unless>

    <!-- INCLUDES -->

    <!-- Helpers -->
    <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />
    <xacro:include filename="$(find pal_urdf_utils)/urdf/materials.urdf.xacro" />

    <!-- Gripper -->
    <xacro:include filename="$(find pal_pro_gripper_description)/urdf/gripper.urdf.xacro" />

    <!-- ROS 2 control-->
    <xacro:include filename="$(find pal_pro_gripper_description)/ros2_control/ros2_control.urdf.xacro" />

    <!-- Gazebo plugins -->
    <xacro:include filename="$(find pal_pro_gripper_description)/gazebo/gazebo.urdf.xacro" />

    <!-- ROBOT DEFINITION -->

    <link name="world"/>

    <xacro:pal_pro_gripper tool_changer="${tool_changer}" name="${name}" parent="world" calibration_tool="${calibration_tool}">
        <origin xyz="0.0 0.0 0.08" rpy="0 0 0" />
    </xacro:pal_pro_gripper>

    <!-- MUJOCO -->
    <xacro:if value="${sim_type == 'mujoco' or sim_type == 'mujoco-ros2-control'}">
        
        <!-- Mujoco Includes -->
        <xacro:include filename="$(find pal_pro_gripper_description)/mujoco/mj_tags.xacro" />   
        <xacro:include filename="$(find pal_mujoco_scenes)/scenes/${world_name}.xacro" />
        
        <mujoco_inputs> 

            <!-- Mujoco environment -->
            <scene>
                <xacro:mj_scene/>
            </scene>

            <raw_inputs>
                <!-- Contact-->
                <xacro:mj_gripper_contact name="gripper"/>

                <!-- Equality-->
                <xacro:mj_gripper_equality name="gripper" anchor_r="0.014 -0.0015 0" anchor_l="0.014 -0.001 0"/>
                
                <!-- Actuator-->
                <actuator>
                    <xacro:mj_gripper_actuators name="gripper"/>
                </actuator>

                <default>
                    <default class="visual">
                        <geom group="2" type="mesh" contype="0" conaffinity="0"/>
                    </default>
                    <default class="collision">
                        <geom group="3" type="mesh"/>
                    </default>
                </default>

            </raw_inputs>

            <processed_inputs>
                <!-- Specifying decompose_mesh will set the `decompose` flag when using obj2mjcf -->
                <!-- <decompose_mesh mesh_name="arm2_link" threshold="0.05"/>
                <decompose_mesh mesh_name="arm3_link" threshold="0.05"/> -->
                <!-- <decompose_mesh mesh_name="arm4_link" threshold="0.05"/> -->

                <!-- The camera with the specified values will be added at the specified site name. -->
                <!-- The position and quaterinion will be filled in by the converter -->
                <!-- <camera site="pelvis_1_link" name="camera" fovy="58" mode="fixed" resolution="640 480" pos="2 2 2" quat="1 0 0 0"/> -->

                <!-- Adds a lidar tag below a site tag to support a lidar sensor. -->
                <!-- In the URDF, we assume that that the sensor frame has the Z-axis pointed directly up in the sensor -->
                <!-- frame. This tag will create rangefinders in the MJCF between min_angle and max_angle at each -->
                <!-- angle_increment rotated about the replicate frame's Y axis. The hardware intercface then combines -->
                <!-- them into a single LaserScan message. -->
                <!-- <lidar ref_site="torso_link" sensor_name="rf" min_angle="-0.3" max_angle="0.3" angle_increment="0.025" /> -->

                <!-- The element with the type and name as listed below will be modified with the remaining attributes -->
                <!-- If the attribute already existed, it will be overwritten -->
                <!-- Note that the type and name elements are required -->
                <modify_element type="joint" name="gripper_outer_finger_left_joint" actuatorfrcrange="-8 8"/>
                <modify_element type="joint" name="gripper_outer_finger_right_joint" actuatorfrcrange="-8 8"/>
                <modify_element type="joint" name="gripper_inner_finger_left_joint" actuatorfrcrange="-8 8"/>
                <modify_element type="joint" name="gripper_finger_right_joint" actuatorfrcrange="-8 8"/>
                <modify_element type="joint" name="gripper_fingertip_left_joint" actuatorfrcrange="-8 8"/>
                <modify_element type="joint" name="gripper_fingertip_right_joint" actuatorfrcrange="-8 8"/>
                <modify_element type="joint" name="gripper_finger_joint" actuatorfrcrange="-8 8" damping="1.5"/>

            </processed_inputs>
        </mujoco_inputs>  
    </xacro:if>

    <!-- ROS 2 Control -->
    <xacro:pal_pro_gripper_ros2_control use_sim_time="${use_sim_time}" sim_type="${sim_type}" />

</robot>
